[Desktop Entry]
Name=Registros de telefonos
Type=Application
Exec=/home/victor/Proyectos/LUA/ejercicio_gtk_sqlite/src/agenda
Icon=/home/victor/.icons/Tango/scalable/apps/system-config-users.svg